.contact-form-title{
  font-family: "Bebas Neue", cursive;
  font-size: 2.4em;
  text-align: center;
  margin: 0.5em;
  font-weight: bold;
  margin-top:-1em;
}
.form-label{
  color : #777777;
  font-family: "Bebas Neue", cursive;
  font-weight: 650;
}
.contact-map{
  width: 100vw;
  margin-top: .5em;
}
.contact-map iframe{
  border:none;
  width:100%;
  height:70vh;
}